homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret latitude
  longitude: !secret longitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 0
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Europe/Amsterdam
  customize: !include_dir_merge_named customize
  packages: !include_dir_named packages

# Enables the frontend
frontend: !include frontend.yaml

# Enable default config
default_config: 

# Enable IOS devices
ios: !include ios.yaml

# Enable utility meter
utility_meter: !include utility_meter.yaml

# Enable Alexa
alexa:

# intent_script:
#   ActivateSceneIntent:
#     action:
#       service: scene.turn_on
#       data_template:
#         entity_id: scene.{{ Scene | replace(" ", "_") }}
#     speech:
#       type: plain
#       text: OK

camera:
  # - platform: ring
  - platform: mjpeg
    name: 3D Printer Camera
    mjpeg_url: http://octopi/webcam/?action=stream
    still_image_url: http://octopi/webcam/?action=snapshot

logger: !include logger.yaml
recorder: !include recorder.yaml
influxdb:
  host: !secret influxdb_host
  include:
    domains:
      - "ËšC"
      - "%"
      - sensor
      - binary_sensor
      - light
  exclude:
    entities:
      - sensor.iphone_van_daniel_battery_level
      - sensor.iphone_van_daniel_battery_state
      - sensor.ipad_van_daniel_en_laura_battery_level
      - sensor.ipad_van_daniel_en_laura_battery_level_2
      - sensor.ipad_van_daniel_en_laura_battery_state
      - sensor.ipad_van_daniel_en_laura_battery_state_2
      - sensor.iphone_van_laura_battery_level
      - sensor.iphone_van_laura_battery_state
      - sensor.time
      - sensor.date
    domains:
      - automation
  tags_attributes:
    - friendly_name

weather:
  - platform: buienradar

http:
  base_url: !secret hass_url
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.22.0.0/24
    - 127.0.0.1
    - ::1

# Connect to mqtt broker
mqtt:
  discovery: true
  broker: mqtt
  port: 1883
  client_id: home-assistant-1
  keepalive: 60
  protocol: 3.1
  birth_message:
    topic: 'hass/status'
    payload: 'online'
  will_message:
    topic: 'hass/status'
    payload: 'offline'

lovelace:
  mode: yaml

# Checks for available updates
updater:

# Enable config
config:

# Discover some devices automatically
discovery:

# Enables support for tracking state changes over time.
history: !include history.yaml

# View all events in a logbook
logbook: !include logbook.yaml

# Track the sun
sun:

# Manual alarm
alarm_control_panel:
  - platform: manual
    pending_time: 5
    trigger_time: 10

# Mediaplayers
media_player:
 - platform: braviatv
   host: 192.168.1.21
 - platform: songpal
   name: livingroom-soundbar
   endpoint: http://192.168.1.211:10000/sony

# ChromeCasts
cast:

# Include covers
cover: !include_dir_merge_list cover

# Lights
#hue:
#  bridges:
#    - host: 192.168.1.32
#      allow_unreachable: true

# xiaomi_aqara:
#   gateways:
#     - mac:
#       key: !secret xiaomi_key

custom_updater:
  track:
    - components
    - cards
  show_installable: true

# Includes
automation: !include_dir_merge_list automation
device_tracker: !include_dir_merge_list device_tracker
sensor: !include_dir_merge_list sensor
# binary_sensor: !include_dir_merge_list binary_sensor
script: !include_dir_merge_named script
# switch: !include_dir_merge_list switch
# scene: !include ./scenes.yaml
notify: !include ./notify.yaml
input_boolean: !include_dir_merge_named input_boolean
input_select: !include_dir_merge_named input_select
